name: test
on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  run_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        name: Test
      - uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
      - run: npm install --production=false
      - run: npm test -- --coverage
      - uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
